<html>
  <head>
    <title>URL Shortener</title>
  </head>
  <body>
    <h1>URL Shortener</h1>
    <form action="/shorten" method="post">
      <input type="text" name="long_url" placeholder="Enter a long URL">
      <input type="submit" value="Shorten">
    </form>
  </body>
</html>